.component-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}
#footerName{
  color: white;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}